* {
  box-sizing: border-box;
}

.admin-container {
  display: flex;
  min-height: 100vh;
  background: #f5f7fa;
}

.sidebar {
  width: 260px;
  background: #0B4F6C;
  color: white;
  padding: 30px;
}

.sidebar h2 {
  margin-bottom: 40px;
  text-align: center;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar nav a:hover {
  background: #F4B400;
  color: #0B4F6C;
}

.admin-content {
  flex: 1;
  padding: 40px;
}